.header {
    border-bottom: 1px solid red;
}

.container {
    margin: 0 10px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    min-width: 100%;
}

.container_icons {
    display: flex;
    gap: 15px;
}