.footer {
    padding: 20px;
    border-top: 1px solid red;
}

.container {
    margin: 0 10px;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    min-width: 100%;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left_block {
    display: flex;
    gap: 80px;
    justify-content: space-between;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right_block {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}